<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="css/dropdown.css">
    <title>About</title>
</head>
<body>
    <header>
        <a href="/" class="logo">blogs<span>Hut</span></a>
        <nav class="navbar">
            <a href="/home">Home</a>
            <a href="/blog">Blog</a>
            <a href="/write">Write</a>
            <a class="active" href="/about">About</a>
            <a href="/review">Review</a>
            <a  href="/contact">Contact</a>
        </nav>
        <div class="icons">
            <i class="fas fa-bars" id="menu-bars"></i>
            <a  style="background: none; padding: 0;" id="user" href="/profile"><i class="fa-solid fa-user"></i></a>
        </div>
        <div class="profile">  
            <div class="dropdown">
                <a style="text-transform: none; font-size: 1.7rem; color: black;" href="#" ><%= username %> <i class="fa-solid fa-chevron-down"></i></a>
                <div class="dropdown-content">
                <a href="/profile"><i class="fa-solid fa-user"></i> profile</a>
                <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> logout</a>
                </div>
              </div>
        </div>
      </header>

      <section class="home" id="home">
        <div class="content">
            <!-- <h3>Blogging is not about earning. Its about serving the Humanity.</h3> -->
            <p>The best ideas can change who we are. BlogTime is where those ideas take shape, take off, and spark powerful conversations. <br><br>We’re an open platform where over 100 million readers come to find insightful and dynamic thinking. Here, expert and undiscovered voices alike dive into the heart of any topic and bring new ideas to the surface. <br><br>Our purpose is to spread these ideas and deepen understanding of the world.</p>
        </div>
        <div class="image">
            <img src="images/image.png" alt="">
        </div>
    </section>
      <div class="footer">
        <div class="box-container">

           <div class="box">
               <h3>about us</h3>
               <p>Looking for some free blog sites to help you start sharing your writing with the world? Whether
                 you just want to share updates with your family and friends or you want to start a blog and build a broader audience, Start with Spaceify</p>
           </div>
           <div class="box">
               <h3>quick links</h3>
                <a href="#">home</a>
                <a href="#blog">blog</a>
                <a href="#about">about</a>
                <a href="#contact">contact</a>
           </div>
           <div class="box">
               <h3>follow us</h3>
               <a href="#">LinkedIn</a>
               <a href="#">Instagram</a>
               <a href="#">facebook</a>
               <a href="#">twitter</a>
           </div>
           <div class="box">
               <h3>contact info</h3>
               <div class="info">
                   <i class="fas fa-phone"></i>
                   <p>+123-456-7890 <br> +111-222-7890</p>
               </div>
               <div class="info">
                   <i class="fas fa-envelope"></i>
                   <p> mra@gmail.com <br> reyaz@gmail.com </p>
               </div>
               <div class="info">
                   <i class="fas fa-map-marker-alt"></i>
                   <p>Kulti, West Bengal - 713343</p>
               </div>
           </div>
        </div>
        <h1 class="credit">&copy; copyright @2022 by Md Reyaz Alam</h1>
    </div>
      <script>
        let menu = document.querySelector('#menu-bars');
        let navbar = document.querySelector('.navbar');
        menu.onclick = () =>{
        menu.classList.toggle('fa-times');
        navbar.classList.toggle('active');

}
    </script>
</body>
</html>
