<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Register</title>
</head>
<body>
    <header>
      <a href="/" class="logo">blogs<span>Hut</span></a>
      <nav class="navbar">
          <a href="/home">Home</a>
          <a href="/blog">Blog</a>
          <a href="/write">Write</a>
          <a href="/about">About</a>
          <a href="/review">Review</a>
          <a href="/contact">Contact</a>
      </nav>

      <div class="icons">
          <a href="/login" >Login</a>
      </div>
  </header>
    <div class="register-container" id="register-container">
        <div class="register" id="register">
            <form action="/register" method="post">
                <div class="container">
                  <label for="name"><b>Name</b></label>
                  <input type="text" placeholder="Enter Full Name" name="name" id="name" required>
                  <label for="username"><b>Username</b></label>
                  <input type="text" placeholder="Enter username" name="username" id="username" required>
                  <label for="email"><b>Email</b></label>
                  <input type="text" placeholder="Enter Email" name="email" id="email" required>
              
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Create Password" name="password" id="psw" required>
              
                  <button type="submit" class="registerbtn">Register</button>
                </div>
                
                <div class="container signin">
                  <p>Already have an account? <a href="/login">Sign in</a>.</p>
                </div>
              </form>
        </div>
    </div>
</body>
</html>