@import url("https://fonts.googleapis.com/css2?family=Caudex&display=swap");

* {
  font-family: "Caudex", serif;
  background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    font-size: 1.7rem;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content i{
    background: none;
  }
  
  .dropdown-content a:hover {background-color: #3aafa9}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3aafa9;
  }
  @media (max-width:768px){
    .profile{
        display: none;
    }
  }
#blog {
    margin-top: 3.5rem;
    padding: 5rem 2rem;
}

#blog .blog-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 6rem;
}

#blog .blog-box .blog-image {
  width: 50%;
}

#blog .blog-box .blog-image img {
  width: 80%;
  -o-object-fit: cover;
  object-fit: cover;
}


#blog .blog-box h4{
    font-size: 2.3rem;
    font-family: "Caudex", serif;
}
#blog .blog-box p{
  font-size: 1.3rem;
  padding: .5rem .2rem;
  font-family: "Caudex", serif;
}

#blog .blog-details {
  width: 50%;
  padding: 0 1rem;
}

#blog .blog-details {
  width: 50%;
  padding: 0 1rem;
}

#blog .blog-details a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #046969;
  position: relative;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#7cf1f1),
    to(#046969)
  );
  font-family: "Caudex", serif;
  background-image: linear-gradient(90deg, #046969, rgb(241, 241, 241));
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 300ms ease;
  transition: background-size 300ms ease;
}

#blog .blog-details a::after {
  content: "";
  width: 3rem;
  height: 2px;
  background-color: #004e4e;
  position: absolute;
  top: 10px;
  right: -4rem;
}

#blog .blog-details a:hover {
  background-size: 100% 3px;
}

#blog .blog-details a:hover::after {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#7cf1f1),
    to(#046969)
  );
  background-image: linear-gradient(90deg, #046969, rgb(255, 255, 255));
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 300ms ease;
  transition: background-size 300ms ease;
  background-size: 100% 3px;
}

@media screen and (max-width: 992px) {
  #blog .blog-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #blog .blog-box .blog-image {
    width: 100%;
    padding: 0;
  }
  #blog .blog-details {
    width: 100%;
    padding: 0;
  }
}
