@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
*{
    
    text-align: center;
    /* background: #282929; */
}
body{
    background: #0a0a0a;
    background-image: url("/images/black.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

:root{
    --blue:#3aafa9;
    --black:#17252A;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    background-color: #3aafa9;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
header .logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}
header .logo span{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
header .logo i{
    color: var(--blue);
}
header .navbar a{
    
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: var(--blue);
}
header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .8rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 2.3rem;
    color: var(--black);

}
header .icons a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    background: var(--black);
    color: #fff;
}
header .icons i:hover{
    color: #fff;
    background: var(--blue);
    /* transform:rotate(360deg); */
    transition: .2s;
    border-radius: 10%;
}
header .icons a:hover{
    color: #fff;
    background: var(--black);
    /* transform:rotate(360deg); */
    transition: .2s;
    border-radius: 10%;
}

header .icons #menu-bars{
    display: none;
}
header .icons #user{
    display: none;
}
#feedback {
  max-width: 60%;
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  border: solid 1px #f1f1f1;
  background: #fbfbfb;
  box-shadow: #e6e6e6 0 0 4px ;
  border-radius: 0.25rem;
}
#fh6{
    font-size: 1.5rem;
}

@media (max-width: 720px) {
  #feedback{
    max-width: 90%;
  }
}

@media (max-width: 500px) {
  #feedback{
    padding: 10px;
  }
}

#fh2{
 padding: 2px 15px;
 color: #5ff0e9;
 text-align: center;
 margin-top:4rem ;
 text-shadow: 2px 2px 8px #5ff0e9
 
}

@media (max-width: 400px) {
  #fh2{
    font-size: 20px;
  }
}


#fh6 {
 padding: 2px 15px;
 color: var(--dark-black);
 text-align: center;
 font-weight: normal;
}

@media (max-width: 400px) {
  #fh6{
    font-size: 12px;
  }
}

#review-form{
  
  display: none;
}
.btn{
  margin-top: .7rem;
  display: inline-block;
  font-size: 1.7rem;
  color: rgb(73, 73, 73);
  background: white;
  border-bottom-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  cursor: pointer;
  padding: .8rem 3rem;
}
.btn:hover{
  border-radius: 2.5rem;
  transition: .3s;
  color: var(--black);
}
.pinfo {
 margin: 8px auto;
 font-weight: bold;
 line-height: 1.5;
 color: #0d0d0d;
}
.form-group {
  margin-bottom: 1rem;
  background: none;
}
/* option{
    background-color: #3aafa9;
} */
form{
    background: none;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: bold;
  color: #6C6262;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #696060;
  background-color: #fff;
  border-color: #5cb3fd;
  outline: none;
}

.form-control::-webkit-input-placeholder {
  color: #F34949;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: brown;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #3aafa9;
  opacity: 1;
}

.form-control::placeholder {
  color: rgb(98, 95, 95);
  opacity: 0.5;
}

.form-control:disabled, .form-control[readonly] {
  background-color: red;
  opacity: 1;
}

.form-control:disabled {
  cursor: not-allowed;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

select.form-control:focus::-ms-value {
  color: green;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.input-group .form-control:focus, .input-group .form-control:active, .input-group .form-control:hover {
  z-index: 3;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.input-group-addon,
.input-group-btn {
  white-space: nowrap;
  vertical-align: middle;
}

.input-group-addon {
  width: 45px;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25;
  color: #2e2e2e;
  text-align: center;
  background-color: #eceeef;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.input-group-addon.form-control-sm,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .input-group-addon.btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.input-group-addon.form-control-lg,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .input-group-addon.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}

.input-group .form-control:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group > .btn,
.input-group-btn:not(:last-child) > .dropdown-toggle,
.input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group-addon:not(:last-child) {
  border-right: 0;
}

.input-group .form-control:not(:first-child),
.input-group-addon:not(:first-child),
.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group > .btn,
.input-group-btn:not(:first-child) > .dropdown-toggle,
.input-group-btn:not(:last-child) > .btn:not(:first-child),
.input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.form-control + .input-group-addon:not(:first-child) {
  border-left: 0;
}

.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:focus, .btn:hover {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px #3aafa9;
          box-shadow: 0 0 0 2px #3aafa9;
}

.btn.disabled, .btn:disabled {
  cursor: not-allowed;
  opacity: .65;
}

.btn:active, .btn.active {
  background-image: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #3aafa9;
  border-color: #3aafa9;
}

.btn-primary:hover {
  color: #fff;
  background-color: #151616;
  border-color: #282929;
}

.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 2px #3aafa9;
          box-shadow: 0 0 0 2px #3aafa9;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #3aafa9;
  border-color: #3aafa9;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #f9fbfd;
  background-image: none;
  border-color: #3aafa9;
}

  section h1{
    text-align: center;
  }

  .wrapper {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    
  }
  
  .blog_post {
    position: relative;
    flex: 1 1 27rem;
    float: left;
    padding: 1rem ;
    background: rgba(113, 113, 113, 0.214);
    max-width: 400px;
    top: 50%;
    margin: 30px;
    /* box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3); */
    height: 20rem;
    border: 2.5px solid white;
    border-radius: 2rem;
  }
  
  .container_copy{
    background: none;
  }
  .container_copy p{
    color: white;
  }
  h4 {
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    color: #333;
    text-align: left;
    font-style: italic;
    background-color: #3aafa9;
    
  }
  h4 span{
    font-size: .9rem;
    color: #696060;
  }
  h3 {
    margin: 0 0 0.5rem 0;
    color:var(--navbar-color);
    font-size: 1rem;
    text-align: left;
  }
  h3 span{
    color:rgb(255, 191, 0);
    font-size: 1.2rem;
  }
  h6{
    color: #3aafa9;
  }
  p {
    margin: 0 0 4.5rem 0;
    font-size: 1.3rem;
    color: #333;
    text-align: left;
  }
  h3 i{
    color: rgb(251, 213, 0);
    font-size: 1.2rem;
  }
  @media (max-width: 300px){
    .blog_post {
        position: relative;
        padding: 1rem ;
        background: #fff;
        max-width: 400px;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
        height: 50%;
      } 
  }
  @media (max-width: 200px){
    .blog_post {
        position: relative;
        padding: 1rem ;
        background: #fff;
        max-width: 400px;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
        height: 65%;
      } 
  }
  @media (max-width: 230px){
    .blog_post {
        position: relative;
        padding: 1rem ;
        background: #fff;
        max-width: 400px;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
        height: 70%;
      } 
  }
  
@media (max-width:991px){
  html{
      font-size: 55%;
  }
  header{
      padding: 1rem 2rem;
  }
}
@media (max-width:768px){

  header .icons #menu-bars{
      display: inline-block;
  }
  header .icons #user{
      display: inline-block;
  }
  header .navbar{
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #fff;
      border-top: .1rem solid rgba(0,0,0,.2);
      padding: 1rem;
      clip-path: polygon(0 0,100% 0, 100% 0,0 0);
  }
  header .navbar.active{
      clip-path: polygon(0 0,100% 0, 100% 100%,0 100%);
  }
  header .navbar a{
      display: block;
      padding: 1.5rem;
      margin:1rem;
      font-size: 2rem;
      background: #eee;
  }
}
  
  
  
  
  



